html, body {
  margin: 0px;
  padding: 0px;
  gap: 0px;
}

.appFrame{
  min-width: 100svw;
  max-width: 100svw;
  min-height: 100svh;
  max-height: 100svh;

  margin: 0px;
  padding: 0px;
  gap: 0px;

  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
}