.modalBackground{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top may need to set higher if z 1 in use*/
  
  left: 0;
  top: 0;

  /*size of screen*/
  min-width: 100svw;
  max-width: 100svw;
  min-height: 100svh;
  max-height: 100svh;
  
  background-color: rgba(0,0,0,0.4);

  /*when modal is shown by turn dispaly to flex*/
  justify-content: center;
  align-items: center;
}