.profilePicSelectContent{
    min-width: min(80svw, 80svh);
    max-width: min(80svw, 80svh);
    min-height: min(80svw, 80svh);
    max-height: min(80svw, 80svh);
    background-color: azure;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profilePicSelectHoldImage{
    min-width: min(60svw, 60svh);
    max-width: min(60svw, 60svh);
    min-height: min(60svw, 60svh);
    max-height: min(60svw, 60svh);
    
    /*padding: 0px;
    margin: 0px;
    gap: 0px;
    box-sizing: border-box;*/
    background-color: red;

    overflow: scroll;
}
.profilePicSelectHoldImage::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.profilePicSelectCircle{
  position: absolute;
  pointer-events: none;/*interact with the elements under*/
  z-index: 3; /* gray box will be above both green and black box */
  
  min-width: min(40svw, 40svh);
  max-width: min(40svw, 40svh);
  min-height: min(40svw, 40svh);
  max-height: min(40svw, 40svh);

  margin-left: min(10svw, 10svh);
  margin-top: min(10svw, 10svh);

  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}
.profilePicSelectImageStyle{
  vertical-align:bottom;

  margin: min(10svw, 10svh);
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}